openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users Processing API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Processing
paths:
  /photo-to-3d/v1/photoscene/{photosceneid}:
    post:
      operationId: processPhotoscene
      summary: Process Photoscene
      description: Starts the photogrammetry processing for a photoscene. Must have uploaded at least 3 photos before processing.
      tags:
      - Processing
      parameters:
      - name: photosceneid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Processing started.
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                  Photoscene:
                    type: object
                    properties:
                      photosceneid:
                        type: string
        '400':
          description: Bad request - insufficient photos.
components:
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
