openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users Twins API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Twins
paths:
  /tandem/v1/twins:
    get:
      operationId: getTwins
      summary: Autodesk List Twins
      description: Returns a list of digital twin facilities that the authenticated user has access to.
      tags:
      - Twins
      responses:
        '200':
          description: Successfully retrieved twins.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwinsResponse'
  /tandem/v1/twins/{twinId}:
    get:
      operationId: getTwin
      summary: Autodesk Get Twin
      description: Returns details of a specific digital twin facility.
      tags:
      - Twins
      parameters:
      - name: twinId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved twin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Twin'
        '404':
          description: Twin not found.
components:
  schemas:
    TwinsResponse:
      type: object
      properties:
        twins:
          type: array
          items:
            $ref: '#/components/schemas/Twin'
    Twin:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        settings:
          type: object
          properties:
            dateCreated:
              type: string
              format: date-time
            dateModified:
              type: string
              format: date-time
            props:
              type: object
              additionalProperties: true
        docs:
          type: array
          description: Associated document/model references.
          items:
            type: object
            properties:
              modelId:
                type: string
              urn:
                type: string
              label:
                type: string
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
