openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users Results API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Results
paths:
  /photo-to-3d/v1/photoscene/{photosceneid}?format={format}:
    get:
      operationId: getPhotosceneResult
      summary: Get Photoscene Result
      description: Returns a download link for the processed result in the specified format. The result must be ready (processing complete) before downloading.
      tags:
      - Results
      parameters:
      - name: photosceneid
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: query
        required: true
        description: Output format for the result.
        schema:
          type: string
          enum:
          - rcm
          - rcs
          - obj
          - ortho
          - report
      responses:
        '200':
          description: Download link returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultResponse'
        '404':
          description: Result not found or not ready.
components:
  schemas:
    ResultResponse:
      type: object
      properties:
        Photoscene:
          type: object
          properties:
            photosceneid:
              type: string
            scenelink:
              type: string
              format: uri
              description: Temporary download URL for the result.
            filesize:
              type: integer
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
