openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users AppBundles API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: AppBundles
paths:
  /da/us-east/v3/appbundles:
    get:
      operationId: getAppBundles
      summary: Autodesk List AppBundles
      description: Returns a paginated list of AppBundles belonging to the caller. AppBundles contain custom code (plugins, scripts, add-ins) that run on the cloud engine.
      tags:
      - AppBundles
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved AppBundles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedAppBundles'
    post:
      operationId: createAppBundle
      summary: Autodesk Create AppBundle
      description: Creates a new AppBundle.
      tags:
      - AppBundles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppBundlePayload'
      responses:
        '200':
          description: AppBundle created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppBundle'
        '400':
          description: Bad request.
        '409':
          description: AppBundle already exists.
  /da/us-east/v3/appbundles/{id}:
    get:
      operationId: getAppBundle
      summary: Autodesk Get AppBundle
      description: Returns details of a specific AppBundle.
      tags:
      - AppBundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved AppBundle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppBundle'
        '404':
          description: AppBundle not found.
    delete:
      operationId: deleteAppBundle
      summary: Autodesk Delete AppBundle
      description: Deletes an AppBundle and all its versions and aliases.
      tags:
      - AppBundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: AppBundle deleted successfully.
        '404':
          description: AppBundle not found.
  /da/us-east/v3/appbundles/{id}/versions:
    get:
      operationId: getAppBundleVersions
      summary: Autodesk List AppBundle Versions
      description: Returns all versions of a specific AppBundle.
      tags:
      - AppBundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved AppBundle versions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedVersions'
    post:
      operationId: createAppBundleVersion
      summary: Autodesk Create AppBundle Version
      description: Creates a new version of an existing AppBundle.
      tags:
      - AppBundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppBundlePayload'
      responses:
        '200':
          description: New version created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppBundle'
  /da/us-east/v3/appbundles/{id}/aliases:
    get:
      operationId: getAppBundleAliases
      summary: Autodesk List AppBundle Aliases
      description: Returns all aliases for a specific AppBundle.
      tags:
      - AppBundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved aliases.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedAliases'
    post:
      operationId: createAppBundleAlias
      summary: Autodesk Create AppBundle Alias
      description: Creates an alias that points to a specific AppBundle version.
      tags:
      - AppBundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AliasPayload'
      responses:
        '200':
          description: Alias created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alias'
  /da/us-east/v3/appbundles/{id}/aliases/{aliasId}:
    get:
      operationId: getAppBundleAlias
      summary: Autodesk Get AppBundle Alias
      description: Returns details of a specific AppBundle alias.
      tags:
      - AppBundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: aliasId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved alias.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alias'
    patch:
      operationId: updateAppBundleAlias
      summary: Autodesk Update AppBundle Alias
      description: Updates an alias to point to a different version.
      tags:
      - AppBundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: aliasId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AliasPatch'
      responses:
        '200':
          description: Alias updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alias'
    delete:
      operationId: deleteAppBundleAlias
      summary: Autodesk Delete AppBundle Alias
      description: Deletes an AppBundle alias.
      tags:
      - AppBundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: aliasId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Alias deleted.
components:
  schemas:
    PagedAppBundles:
      type: object
      properties:
        paginationToken:
          type: string
        data:
          type: array
          items:
            type: string
    AliasPayload:
      type: object
      required:
      - id
      - version
      properties:
        id:
          type: string
        version:
          type: integer
        receiver:
          type: string
    Alias:
      type: object
      properties:
        id:
          type: string
        version:
          type: integer
        receiver:
          type: string
    PagedVersions:
      type: object
      properties:
        paginationToken:
          type: string
        data:
          type: array
          items:
            type: integer
    PagedAliases:
      type: object
      properties:
        paginationToken:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Alias'
    AppBundle:
      type: object
      properties:
        uploadParameters:
          type: object
          properties:
            endpointURL:
              type: string
              format: uri
            formData:
              type: object
              additionalProperties:
                type: string
        id:
          type: string
        engine:
          type: string
        description:
          type: string
        version:
          type: integer
    AppBundlePayload:
      type: object
      required:
      - id
      - engine
      properties:
        id:
          type: string
          description: The AppBundle name.
        engine:
          type: string
          description: The target engine (e.g., Autodesk.AutoCAD+24_1).
        description:
          type: string
        appbundles:
          type: array
          items:
            type: string
    AliasPatch:
      type: object
      required:
      - version
      properties:
        version:
          type: integer
        receiver:
          type: string
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
