openapi: 3.2.0
info:
  title: Autodesk Design Automation App Bundles API
  description: The Design Automation API (formerly Automation API) enables running scripts and plugins on design files in the cloud using AutoCAD, Revit, Inventor, 3ds Max, and Fusion engines. It supports batch processing, parameter adjustment, drawing generation, and data extraction at enterprise scale without requiring local installations of desktop applications.
  version: 3.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2TwoLegged:
  - code:all
tags:
- name: App Bundles
paths:
  /da/us-east/v3/appbundles:
    get:
      operationId: getAppBundles
      summary: Autodesk List AppBundles
      description: Returns a paginated list of AppBundles belonging to the caller. AppBundles contain custom code (plugins, scripts, add-ins) that run on the cloud engine.
      tags:
      - App Bundles
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved AppBundles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedAppBundles'
    post:
      operationId: createAppBundle
      summary: Autodesk Create AppBundle
      description: Creates a new AppBundle.
      tags:
      - App Bundles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppBundlePayload'
      responses:
        '200':
          description: AppBundle created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppBundle'
        '400':
          description: Bad request.
        '409':
          description: AppBundle already exists.
  /da/us-east/v3/appbundles/{id}:
    get:
      operationId: getAppBundle
      summary: Autodesk Get AppBundle
      description: Returns details of a specific AppBundle.
      tags:
      - App Bundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved AppBundle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppBundle'
        '404':
          description: AppBundle not found.
    delete:
      operationId: deleteAppBundle
      summary: Autodesk Delete AppBundle
      description: Deletes an AppBundle and all its versions and aliases.
      tags:
      - App Bundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: AppBundle deleted successfully.
        '404':
          description: AppBundle not found.
  /da/us-east/v3/appbundles/{id}/versions:
    get:
      operationId: getAppBundleVersions
      summary: Autodesk List AppBundle Versions
      description: Returns all versions of a specific AppBundle.
      tags:
      - App Bundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved AppBundle versions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedVersions'
    post:
      operationId: createAppBundleVersion
      summary: Autodesk Create AppBundle Version
      description: Creates a new version of an existing AppBundle.
      tags:
      - App Bundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppBundlePayload'
      responses:
        '200':
          description: New version created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppBundle'
  /da/us-east/v3/appbundles/{id}/aliases:
    get:
      operationId: getAppBundleAliases
      summary: Autodesk List AppBundle Aliases
      description: Returns all aliases for a specific AppBundle.
      tags:
      - App Bundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved aliases.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedAliases'
    post:
      operationId: createAppBundleAlias
      summary: Autodesk Create AppBundle Alias
      description: Creates an alias that points to a specific AppBundle version.
      tags:
      - App Bundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AliasPayload'
      responses:
        '200':
          description: Alias created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alias'
  /da/us-east/v3/appbundles/{id}/aliases/{aliasId}:
    get:
      operationId: getAppBundleAlias
      summary: Autodesk Get AppBundle Alias
      description: Returns details of a specific AppBundle alias.
      tags:
      - App Bundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: aliasId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved alias.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alias'
    patch:
      operationId: updateAppBundleAlias
      summary: Autodesk Update AppBundle Alias
      description: Updates an alias to point to a different version.
      tags:
      - App Bundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: aliasId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AliasPatch'
      responses:
        '200':
          description: Alias updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alias'
    delete:
      operationId: deleteAppBundleAlias
      summary: Autodesk Delete AppBundle Alias
      description: Deletes an AppBundle alias.
      tags:
      - App Bundles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: aliasId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Alias deleted.
components:
  schemas:
    Alias:
      type: object
      properties:
        id:
          type: string
        version:
          type: integer
        receiver:
          type: string
    AppBundlePayload:
      type: object
      required:
      - id
      - engine
      properties:
        id:
          type: string
          description: The AppBundle name.
        engine:
          type: string
          description: The target engine (e.g., Autodesk.AutoCAD+24_1).
        description:
          type: string
        appbundles:
          type: array
          items:
            type: string
    AliasPayload:
      type: object
      required:
      - id
      - version
      properties:
        id:
          type: string
        version:
          type: integer
        receiver:
          type: string
    PagedVersions:
      type: object
      properties:
        paginationToken:
          type: string
        data:
          type: array
          items:
            type: integer
    AppBundle:
      type: object
      properties:
        uploadParameters:
          type: object
          properties:
            endpointURL:
              type: string
              format: uri
            formData:
              type: object
              additionalProperties:
                type: string
        id:
          type: string
        engine:
          type: string
        description:
          type: string
        version:
          type: integer
    PagedAppBundles:
      type: object
      properties:
        paginationToken:
          type: string
        data:
          type: array
          items:
            type: string
    PagedAliases:
      type: object
      properties:
        paginationToken:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Alias'
    AliasPatch:
      type: object
      required:
      - version
      properties:
        version:
          type: integer
        receiver:
          type: string
  securitySchemes:
    OAuth2TwoLegged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            code:all: Execute Design Automation activities
