openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users Groups API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Groups
paths:
  /parameters/v1/accounts/{accountId}/collections/{collectionId}/groups:
    get:
      operationId: getGroups
      summary: Autodesk List Groups
      description: Returns groups within a collection.
      tags:
      - Groups
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: collectionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsResponse'
    post:
      operationId: createGroup
      summary: Autodesk Create Group
      description: Creates a new parameter group within a collection.
      tags:
      - Groups
      security:
      - OAuth2ThreeLegged:
        - data:write
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: collectionId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
      responses:
        '201':
          description: Group created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
  /tandem/v1/groups:
    get:
      operationId: getGroups
      summary: Autodesk List Groups
      description: Returns a list of facility groups (teams) that the authenticated user has access to.
      tags:
      - Groups
      responses:
        '200':
          description: Successfully retrieved groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsResponse_2'
  /tandem/v1/groups/{groupId}:
    get:
      operationId: getGroup
      summary: Autodesk Get Group
      description: Returns details of a specific group.
      tags:
      - Groups
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group_2'
components:
  schemas:
    GroupsResponse_2:
      type: object
      properties:
        groups:
          type: array
          items:
            $ref: '#/components/schemas/Group_2'
    CreateGroupRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description:
          type: string
    Group:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
    Group_2:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        twins:
          type: array
          items:
            type: string
            description: Twin IDs in this group.
    GroupsResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Group'
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
