openapi: 3.2.0
info:
  title: Autodesk Sustainability Data Datasets API
  description: The Sustainability Data API provides access to regional environmental data through a standardized interface, enabling accurate carbon calculations and integration of trusted third-party sustainability datasets into applications at all design stages. It includes data on electricity grids, materials, transportation, and construction activities.
  version: 3.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2TwoLegged:
  - data:read
tags:
- name: Datasets
paths:
  /sustainability/v3/datasets:
    get:
      operationId: getDatasets
      summary: Autodesk List Datasets
      description: Returns a list of available sustainability datasets. Each dataset contains environmental impact data from specific data providers.
      tags:
      - Datasets
      parameters:
      - name: page[offset]
        in: query
        required: false
        schema:
          type: integer
      - name: page[limit]
        in: query
        required: false
        schema:
          type: integer
      - name: filter[type]
        in: query
        required: false
        description: Filter by dataset type.
        schema:
          type: string
          enum:
          - electricity
          - material
          - transportation
          - construction
      responses:
        '200':
          description: Successfully retrieved datasets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetsResponse'
        '401':
          description: Unauthorized.
  /sustainability/v3/datasets/{datasetId}:
    get:
      operationId: getDataset
      summary: Autodesk Get Dataset
      description: Returns details of a specific dataset.
      tags:
      - Datasets
      parameters:
      - name: datasetId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '404':
          description: Dataset not found.
components:
  schemas:
    Dataset:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum:
          - electricity
          - material
          - transportation
          - construction
        provider:
          type: string
          description: Data provider name.
        version:
          type: string
        regions:
          type: array
          items:
            type: string
        lastUpdated:
          type: string
          format: date-time
    DatasetsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Dataset'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        totalResults:
          type: integer
  securitySchemes:
    OAuth2TwoLegged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
