openapi: 3.2.0
info:
  title: Autodesk Authentication Users API
  description: The Autodesk Authentication API provides OAuth 2.0 based authentication and authorization for Autodesk Platform Services (APS). It supports two-legged (client credentials) and three-legged (authorization code) OAuth flows, enabling applications to securely access user data across Autodesk cloud services without directly handling user passwords.
  version: 2.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
tags:
- name: Users
paths:
  /userprofile/v1/users/@me:
    get:
      operationId: getUserProfile
      summary: Autodesk Get User Profile
      description: Returns the profile information of the authenticated user.
      tags:
      - Users
      security:
      - OAuth2ThreeLegged:
        - user-profile:read
      responses:
        '200':
          description: Successfully retrieved user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    UserProfile:
      type: object
      properties:
        userId:
          type: string
          description: The unique identifier of the user.
        userName:
          type: string
          description: The username.
        emailId:
          type: string
          description: The user's email address.
        firstName:
          type: string
          description: The user's first name.
        lastName:
          type: string
          description: The user's last name.
        emailVerified:
          type: boolean
          description: Whether the email has been verified.
        2FaEnabled:
          type: boolean
          description: Whether two-factor authentication is enabled.
        profileImages:
          type: object
          description: URLs of the user's profile images.
          properties:
            sizeX20:
              type: string
            sizeX40:
              type: string
            sizeX50:
              type: string
            sizeX58:
              type: string
            sizeX80:
              type: string
            sizeX120:
              type: string
            sizeX160:
              type: string
            sizeX176:
              type: string
            sizeX240:
              type: string
            sizeX360:
              type: string
    ErrorResponse:
      type: object
      properties:
        developerMessage:
          type: string
          description: A developer-facing error message.
        userMessage:
          type: string
          description: A user-facing error message.
        errorCode:
          type: string
          description: An error code.
        more info:
          type: string
          description: A link to more information about the error.
  securitySchemes:
    OAuth2TwoLegged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
            data:create: Create new data
            data:search: Search data
            bucket:create: Create OSS buckets
            bucket:read: Read OSS buckets
            bucket:update: Update OSS buckets
            bucket:delete: Delete OSS buckets
            code:all: Execute Design Automation activities
            account:read: Read account data
            account:write: Write account data
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
            data:create: Create new data
            data:search: Search data
            user-profile:read: Read user profile
            account:read: Read account data
            account:write: Write account data
