openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users Informational API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Informational
paths:
  /modelderivative/v2/designdata/formats:
    get:
      operationId: getFormats
      summary: Autodesk List Supported Formats
      description: Returns a list of supported input and output formats for translation.
      tags:
      - Informational
      responses:
        '200':
          description: Successfully retrieved supported formats.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormatsResponse'
components:
  schemas:
    FormatsResponse:
      type: object
      properties:
        formats:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
