openapi: 3.2.0
info:
  title: Autodesk Webhooks Tokens API
  description: The Webhooks API enables applications to listen for events from Autodesk services by creating webhook subscriptions. When events occur (such as file modifications, model derivative completions, or folder changes), Autodesk sends HTTP POST callbacks to a registered URL. This API manages webhook CRUD operations for the Data Management and Model Derivative event systems.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - data:read
  - data:write
tags:
- name: Tokens
paths:
  /webhooks/v1/tokens/@me:
    put:
      operationId: createToken
      summary: Autodesk Create/Update Webhook Secret Token
      description: Creates or updates a secret token used to sign webhook payloads. The token is included in the x-adsk-signature header of callback requests for payload verification.
      tags:
      - Tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - token
              properties:
                token:
                  type: string
                  description: The secret token for signing payloads.
      responses:
        '200':
          description: Token created/updated.
    delete:
      operationId: deleteToken
      summary: Autodesk Delete Webhook Secret Token
      description: Deletes the webhook secret token.
      tags:
      - Tokens
      responses:
        '204':
          description: Token deleted.
components:
  securitySchemes:
    OAuth2TwoLegged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
