openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users Items API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Items
paths:
  /data/v1/projects/{project_id}/items:
    post:
      operationId: createItem
      summary: Autodesk Create Item
      description: Creates a new item in the specified project. The item references a storage location containing the uploaded file.
      tags:
      - Items
      security:
      - OAuth2ThreeLegged:
        - data:create
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateItemRequest'
      responses:
        '201':
          description: Item created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ItemResponse'
        '400':
          description: Bad request.
        '403':
          description: Forbidden.
  /data/v1/projects/{project_id}/items/{item_id}:
    get:
      operationId: getItem
      summary: Autodesk Get Item
      description: Returns a specific item within a project.
      tags:
      - Items
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: item_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved item.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ItemResponse'
        '401':
          description: Unauthorized.
        '404':
          description: Item not found.
    patch:
      operationId: patchItem
      summary: Autodesk Update Item
      description: Updates the display name or other properties of an item.
      tags:
      - Items
      security:
      - OAuth2ThreeLegged:
        - data:write
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: item_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PatchItemRequest'
      responses:
        '200':
          description: Item updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ItemResponse'
components:
  schemas:
    JsonApiVersion:
      type: object
      properties:
        version:
          type: string
          example: '1.0'
    PatchItemRequest:
      type: object
      properties:
        jsonapi:
          $ref: '#/components/schemas/JsonApiVersion'
        data:
          type: object
          properties:
            type:
              type: string
              example: items
            id:
              type: string
            attributes:
              type: object
              properties:
                displayName:
                  type: string
    Extension:
      type: object
      properties:
        type:
          type: string
        version:
          type: string
        data:
          type: object
    CreateItemRequest:
      type: object
      properties:
        jsonapi:
          $ref: '#/components/schemas/JsonApiVersion'
        data:
          type: object
          properties:
            type:
              type: string
              example: items
            attributes:
              type: object
              properties:
                displayName:
                  type: string
                extension:
                  $ref: '#/components/schemas/Extension'
            relationships:
              type: object
              properties:
                tip:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          example: versions
                        id:
                          type: string
                parent:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          example: folders
                        id:
                          type: string
        included:
          type: array
          items:
            type: object
    Item:
      type: object
      properties:
        type:
          type: string
          example: items
        id:
          type: string
        attributes:
          type: object
          properties:
            displayName:
              type: string
            createTime:
              type: string
              format: date-time
            createUserId:
              type: string
            createUserName:
              type: string
            lastModifiedTime:
              type: string
              format: date-time
            lastModifiedUserId:
              type: string
            lastModifiedUserName:
              type: string
            hidden:
              type: boolean
            reserved:
              type: boolean
            extension:
              $ref: '#/components/schemas/Extension'
        relationships:
          type: object
          properties:
            tip:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    id:
                      type: string
            versions:
              type: object
              properties:
                links:
                  type: object
                  properties:
                    related:
                      type: object
                      properties:
                        href:
                          type: string
                          format: uri
    ItemResponse:
      type: object
      properties:
        jsonapi:
          $ref: '#/components/schemas/JsonApiVersion'
        data:
          $ref: '#/components/schemas/Item'
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
