openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users Calculations API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Calculations
paths:
  /sustainability/v3/calculation:
    post:
      operationId: calculateEmissions
      summary: Autodesk Calculate Emissions
      description: Calculates carbon emissions based on provided parameters such as energy consumption, material quantities, or transportation distances.
      tags:
      - Calculations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculationRequest'
      responses:
        '200':
          description: Calculation completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationResponse'
        '400':
          description: Bad request.
components:
  schemas:
    CalculationRequest:
      type: object
      required:
      - datasetId
      - recordId
      - quantity
      properties:
        datasetId:
          type: string
        recordId:
          type: string
        quantity:
          type: number
          description: Quantity in the unit specified by the record.
        unit:
          type: string
          description: Unit of the quantity.
    Record:
      type: object
      properties:
        id:
          type: string
        datasetId:
          type: string
        name:
          type: string
        category:
          type: string
        region:
          type: string
        year:
          type: integer
        unit:
          type: string
          description: Unit of measurement.
        emissionFactor:
          type: number
          description: Carbon emission factor value.
        emissionFactorUnit:
          type: string
          description: Unit for the emission factor (e.g., kgCO2e/kWh).
        gwp:
          type: number
          description: Global Warming Potential value.
        metadata:
          type: object
          additionalProperties: true
    CalculationResponse:
      type: object
      properties:
        totalEmissions:
          type: number
          description: Total calculated emissions in kgCO2e.
        unit:
          type: string
          example: kgCO2e
        emissionFactor:
          type: number
        quantity:
          type: number
        record:
          $ref: '#/components/schemas/Record'
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
