openapi: 3.2.0
info:
  title: Autodesk Reality Capture Results API
  description: The Reality Capture API uses photogrammetry to generate high-resolution 3D meshes, point clouds, and orthophotos from photographs. It leverages cloud computing for structure-from-motion and multi-view-geometry algorithms, producing output compatible with ReCap, Civil 3D, InfraWorks, and other Autodesk products.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2TwoLegged:
  - data:read
  - data:write
  - data:create
tags:
- name: Results
paths:
  /photo-to-3d/v1/photoscene/{photosceneid}?format={format}:
    get:
      operationId: getPhotosceneResult
      summary: Get Photoscene Result
      description: Returns a download link for the processed result in the specified format. The result must be ready (processing complete) before downloading.
      tags:
      - Results
      parameters:
      - name: photosceneid
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: query
        required: true
        description: Output format for the result.
        schema:
          type: string
          enum:
          - rcm
          - rcs
          - obj
          - ortho
          - report
      responses:
        '200':
          description: Download link returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultResponse'
        '404':
          description: Result not found or not ready.
components:
  schemas:
    ResultResponse:
      type: object
      properties:
        Photoscene:
          type: object
          properties:
            photosceneid:
              type: string
            scenelink:
              type: string
              format: uri
              description: Temporary download URL for the result.
            filesize:
              type: integer
  securitySchemes:
    OAuth2TwoLegged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
            data:create: Create new data
