openapi: 3.2.0
info:
  title: Autodesk Tandem Data Models API
  description: The Tandem Data API enables reading BIM model data and reading/writing custom schema properties for digital twin facility management. It facilitates integration with external systems like asset management platforms, work-order systems, and IoT sensors for creating and managing digital twins of physical facilities.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - data:read
tags:
- name: Models
paths:
  /tandem/v1/twins/{twinId}/models:
    get:
      operationId: getModels
      summary: Autodesk List Models
      description: Returns a list of BIM models associated with a digital twin facility.
      tags:
      - Models
      parameters:
      - name: twinId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsResponse'
components:
  schemas:
    ModelsResponse:
      type: object
      properties:
        models:
          type: array
          items:
            type: object
            properties:
              modelId:
                type: string
              label:
                type: string
              urn:
                type: string
              status:
                type: string
              lastSyncTime:
                type: string
                format: date-time
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
