openapi: 3.2.0
info:
  title: Autodesk Design Automation Forge Apps API
  description: The Design Automation API (formerly Automation API) enables running scripts and plugins on design files in the cloud using AutoCAD, Revit, Inventor, 3ds Max, and Fusion engines. It supports batch processing, parameter adjustment, drawing generation, and data extraction at enterprise scale without requiring local installations of desktop applications.
  version: 3.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2TwoLegged:
  - code:all
tags:
- name: Forge Apps
paths:
  /da/us-east/v3/forgeapps/me:
    get:
      operationId: getNickname
      summary: Autodesk Get Nickname
      description: Returns the nickname for the caller's Forge app.
      tags:
      - Forge Apps
      responses:
        '200':
          description: Successfully retrieved nickname.
          content:
            application/json:
              schema:
                type: string
    delete:
      operationId: deleteNickname
      summary: Autodesk Delete Nickname
      description: Removes the nickname for the caller's Forge app, also removing all AppBundles and Activities.
      tags:
      - Forge Apps
      responses:
        '204':
          description: Nickname removed.
    patch:
      operationId: createNickname
      summary: Autodesk Create/Update Nickname
      description: Creates or updates the nickname for the caller's Forge app.
      tags:
      - Forge Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - nickname
              properties:
                nickname:
                  type: string
                  description: The desired nickname (globally unique).
      responses:
        '200':
          description: Nickname created/updated.
        '409':
          description: Nickname already taken.
components:
  securitySchemes:
    OAuth2TwoLegged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            code:all: Execute Design Automation activities
