openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users Engines API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Engines
paths:
  /da/us-east/v3/engines:
    get:
      operationId: getEngines
      summary: Autodesk List Engines
      description: Returns a paginated list of available engines. Engines correspond to Autodesk products that can process design files (AutoCAD, Revit, Inventor, 3ds Max).
      tags:
      - Engines
      parameters:
      - name: page
        in: query
        required: false
        description: Page token for pagination.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved engines.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedEngines'
        '401':
          description: Unauthorized.
  /da/us-east/v3/engines/{id}:
    get:
      operationId: getEngine
      summary: Autodesk Get Engine
      description: Returns details about a specific engine.
      tags:
      - Engines
      parameters:
      - name: id
        in: path
        required: true
        description: The fully qualified engine ID (e.g., Autodesk.AutoCAD+24_1).
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved engine.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Engine'
        '404':
          description: Engine not found.
components:
  schemas:
    PagedEngines:
      type: object
      properties:
        paginationToken:
          type: string
        data:
          type: array
          items:
            type: string
    Engine:
      type: object
      properties:
        productVersion:
          type: string
        description:
          type: string
        version:
          type: integer
        id:
          type: string
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
