openapi: 3.2.0
info:
  title: Autodesk Sustainability Data Calculations API
  description: The Sustainability Data API provides access to regional environmental data through a standardized interface, enabling accurate carbon calculations and integration of trusted third-party sustainability datasets into applications at all design stages. It includes data on electricity grids, materials, transportation, and construction activities.
  version: 3.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2TwoLegged:
  - data:read
tags:
- name: Calculations
paths:
  /sustainability/v3/calculation:
    post:
      operationId: calculateEmissions
      summary: Autodesk Calculate Emissions
      description: Calculates carbon emissions based on provided parameters such as energy consumption, material quantities, or transportation distances.
      tags:
      - Calculations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculationRequest'
      responses:
        '200':
          description: Calculation completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationResponse'
        '400':
          description: Bad request.
components:
  schemas:
    CalculationRequest:
      type: object
      required:
      - datasetId
      - recordId
      - quantity
      properties:
        datasetId:
          type: string
        recordId:
          type: string
        quantity:
          type: number
          description: Quantity in the unit specified by the record.
        unit:
          type: string
          description: Unit of the quantity.
    Record:
      type: object
      properties:
        id:
          type: string
        datasetId:
          type: string
        name:
          type: string
        category:
          type: string
        region:
          type: string
        year:
          type: integer
        unit:
          type: string
          description: Unit of measurement.
        emissionFactor:
          type: number
          description: Carbon emission factor value.
        emissionFactorUnit:
          type: string
          description: Unit for the emission factor (e.g., kgCO2e/kWh).
        gwp:
          type: number
          description: Global Warming Potential value.
        metadata:
          type: object
          additionalProperties: true
    CalculationResponse:
      type: object
      properties:
        totalEmissions:
          type: number
          description: Total calculated emissions in kgCO2e.
        unit:
          type: string
          example: kgCO2e
        emissionFactor:
          type: number
        quantity:
          type: number
        record:
          $ref: '#/components/schemas/Record'
  securitySchemes:
    OAuth2TwoLegged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
