openapi: 3.2.0
info:
  title: Autodesk Model Derivative Thumbnails API
  description: The Model Derivative API translates design files into formats suitable for rendering in the Autodesk Viewer (SVF, SVF2), converts to standard outputs (OBJ, STL, STEP, IGES), and extracts metadata including object hierarchy trees, properties, and geometries from over 60 input file formats.
  version: 2.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production (US)
- url: https://developer.api.autodesk.com/regions/eu
  description: Production (EMEA)
security:
- OAuth2TwoLegged:
  - data:read
  - data:write
  - data:create
tags:
- name: Thumbnails
paths:
  /modelderivative/v2/designdata/{urn}/thumbnail:
    get:
      operationId: getThumbnail
      summary: Autodesk Get Thumbnail
      description: Returns a thumbnail image of the source design.
      tags:
      - Thumbnails
      parameters:
      - name: urn
        in: path
        required: true
        schema:
          type: string
      - name: width
        in: query
        required: false
        description: Width of the thumbnail in pixels (100, 200, or 400).
        schema:
          type: integer
          enum:
          - 100
          - 200
          - 400
      - name: height
        in: query
        required: false
        description: Height of the thumbnail in pixels (100, 200, or 400).
        schema:
          type: integer
          enum:
          - 100
          - 200
          - 400
      responses:
        '200':
          description: Successfully retrieved thumbnail.
          content:
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: Thumbnail not found.
components:
  securitySchemes:
    OAuth2TwoLegged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
            data:create: Create new data
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
            data:create: Create new data
