openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users Hubs API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Hubs
paths:
  /project/v1/hubs:
    get:
      operationId: getHubs
      summary: Autodesk List Hubs
      description: Returns a collection of accessible hubs for the authenticated user. A hub represents an Autodesk account or BIM 360 account.
      tags:
      - Hubs
      parameters:
      - name: filter[id]
        in: query
        required: false
        description: Filter by hub ID.
        schema:
          type: string
      - name: filter[name]
        in: query
        required: false
        description: Filter by hub name.
        schema:
          type: string
      - name: filter[extension.type]
        in: query
        required: false
        description: Filter by extension type.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved hubs.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HubsResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
  /project/v1/hubs/{hub_id}:
    get:
      operationId: getHub
      summary: Autodesk Get Hub
      description: Returns data for a specific hub.
      tags:
      - Hubs
      parameters:
      - name: hub_id
        in: path
        required: true
        description: The unique identifier of the hub.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved hub.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HubResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Hub not found.
components:
  schemas:
    HubsResponse:
      type: object
      properties:
        jsonapi:
          $ref: '#/components/schemas/JsonApiVersion'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Hub'
    JsonApiVersion:
      type: object
      properties:
        version:
          type: string
          example: '1.0'
    Extension:
      type: object
      properties:
        type:
          type: string
        version:
          type: string
        data:
          type: object
    Hub:
      type: object
      properties:
        type:
          type: string
          example: hubs
        id:
          type: string
          description: The unique hub identifier.
        attributes:
          type: object
          properties:
            name:
              type: string
            extension:
              $ref: '#/components/schemas/Extension'
            region:
              type: string
              enum:
              - US
              - EMEA
        relationships:
          type: object
          properties:
            projects:
              type: object
              properties:
                links:
                  type: object
                  properties:
                    related:
                      type: object
                      properties:
                        href:
                          type: string
                          format: uri
        links:
          type: object
          properties:
            self:
              type: object
              properties:
                href:
                  type: string
                  format: uri
    HubResponse:
      type: object
      properties:
        jsonapi:
          $ref: '#/components/schemas/JsonApiVersion'
        data:
          $ref: '#/components/schemas/Hub'
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
