openapi: 3.2.0
info:
  title: Autodesk Design Automation Service Limits API
  description: The Design Automation API (formerly Automation API) enables running scripts and plugins on design files in the cloud using AutoCAD, Revit, Inventor, 3ds Max, and Fusion engines. It supports batch processing, parameter adjustment, drawing generation, and data extraction at enterprise scale without requiring local installations of desktop applications.
  version: 3.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2TwoLegged:
  - code:all
tags:
- name: Service Limits
paths:
  /da/us-east/v3/servicelimits/me:
    get:
      operationId: getServiceLimits
      summary: Autodesk Get Service Limits
      description: Returns the service limits for the caller.
      tags:
      - Service Limits
      responses:
        '200':
          description: Successfully retrieved service limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceLimits'
components:
  schemas:
    ServiceLimits:
      type: object
      properties:
        frontendLimits:
          type: object
          properties:
            limitMonthlyProcessingTimeInHours:
              type: number
        backendLimits:
          type: object
  securitySchemes:
    OAuth2TwoLegged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            code:all: Execute Design Automation activities
