openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users Forge Apps API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Forge Apps
paths:
  /da/us-east/v3/forgeapps/me:
    get:
      operationId: getNickname
      summary: Autodesk Get Nickname
      description: Returns the nickname for the caller's Forge app.
      tags:
      - Forge Apps
      responses:
        '200':
          description: Successfully retrieved nickname.
          content:
            application/json:
              schema:
                type: string
    delete:
      operationId: deleteNickname
      summary: Autodesk Delete Nickname
      description: Removes the nickname for the caller's Forge app, also removing all AppBundles and Activities.
      tags:
      - Forge Apps
      responses:
        '204':
          description: Nickname removed.
    patch:
      operationId: createNickname
      summary: Autodesk Create/Update Nickname
      description: Creates or updates the nickname for the caller's Forge app.
      tags:
      - Forge Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - nickname
              properties:
                nickname:
                  type: string
                  description: The desired nickname (globally unique).
      responses:
        '200':
          description: Nickname created/updated.
        '409':
          description: Nickname already taken.
components:
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
