openapi: 3.2.0
info:
  title: Autodesk Reality Capture Processing API
  description: The Reality Capture API uses photogrammetry to generate high-resolution 3D meshes, point clouds, and orthophotos from photographs. It leverages cloud computing for structure-from-motion and multi-view-geometry algorithms, producing output compatible with ReCap, Civil 3D, InfraWorks, and other Autodesk products.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2TwoLegged:
  - data:read
  - data:write
  - data:create
tags:
- name: Processing
paths:
  /photo-to-3d/v1/photoscene/{photosceneid}:
    post:
      operationId: processPhotoscene
      summary: Process Photoscene
      description: Starts the photogrammetry processing for a photoscene. Must have uploaded at least 3 photos before processing.
      tags:
      - Processing
      parameters:
      - name: photosceneid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Processing started.
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                  Photoscene:
                    type: object
                    properties:
                      photosceneid:
                        type: string
        '400':
          description: Bad request - insufficient photos.
components:
  securitySchemes:
    OAuth2TwoLegged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
            data:create: Create new data
