openapi: 3.2.0
info:
  title: Autodesk Model Derivative Manifest API
  description: The Model Derivative API translates design files into formats suitable for rendering in the Autodesk Viewer (SVF, SVF2), converts to standard outputs (OBJ, STL, STEP, IGES), and extracts metadata including object hierarchy trees, properties, and geometries from over 60 input file formats.
  version: 2.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production (US)
- url: https://developer.api.autodesk.com/regions/eu
  description: Production (EMEA)
security:
- OAuth2TwoLegged:
  - data:read
  - data:write
  - data:create
tags:
- name: Manifest
paths:
  /modelderivative/v2/designdata/{urn}/manifest:
    get:
      operationId: getManifest
      summary: Autodesk Get Manifest
      description: Returns information about derivatives that correspond to a specific source design, including derivative URNs, translation status, and available outputs.
      tags:
      - Manifest
      parameters:
      - name: urn
        in: path
        required: true
        description: The Base64 (URL-safe) encoded URN of the source design.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved manifest.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
        '401':
          description: Unauthorized.
        '404':
          description: Manifest not found.
    delete:
      operationId: deleteManifest
      summary: Autodesk Delete Manifest
      description: Deletes the manifest and all derivatives of a source design. Does not delete the source design itself.
      tags:
      - Manifest
      parameters:
      - name: urn
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Manifest and derivatives deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
        '401':
          description: Unauthorized.
        '404':
          description: Manifest not found.
components:
  schemas:
    Manifest:
      type: object
      properties:
        type:
          type: string
          example: manifest
        hasThumbnail:
          type: string
          enum:
          - 'true'
          - 'false'
        status:
          type: string
          description: Overall translation status.
          enum:
          - pending
          - inprogress
          - success
          - failed
          - timeout
        progress:
          type: string
          description: Translation progress percentage.
        region:
          type: string
        urn:
          type: string
        version:
          type: string
        derivatives:
          type: array
          items:
            $ref: '#/components/schemas/Derivative'
    Derivative:
      type: object
      properties:
        name:
          type: string
        hasThumbnail:
          type: string
        status:
          type: string
          enum:
          - pending
          - inprogress
          - success
          - failed
          - timeout
        progress:
          type: string
        outputType:
          type: string
        children:
          type: array
          items:
            $ref: '#/components/schemas/DerivativeChild'
    DerivativeChild:
      type: object
      properties:
        guid:
          type: string
        type:
          type: string
          enum:
          - resource
          - geometry
          - view
        role:
          type: string
          enum:
          - 3d
          - 2d
          - graphics
          - thumbnail
          - Autodesk.CloudPlatform.PropertyDatabase
        name:
          type: string
        status:
          type: string
        progress:
          type: string
        mime:
          type: string
        urn:
          type: string
        children:
          type: array
          items:
            $ref: '#/components/schemas/DerivativeChild'
  securitySchemes:
    OAuth2TwoLegged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
            data:create: Create new data
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
            data:create: Create new data
