openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Users
paths:
  /userprofile/v1/users/@me:
    get:
      operationId: getUserProfile
      summary: Autodesk Get User Profile
      description: Returns the profile information of the authenticated user.
      tags:
      - Users
      security:
      - OAuth2ThreeLegged:
        - user-profile:read
      responses:
        '200':
          description: Successfully retrieved user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        developerMessage:
          type: string
          description: A developer-facing error message.
        userMessage:
          type: string
          description: A user-facing error message.
        errorCode:
          type: string
          description: An error code.
        more info:
          type: string
          description: A link to more information about the error.
    UserProfile:
      type: object
      properties:
        userId:
          type: string
          description: The unique identifier of the user.
        userName:
          type: string
          description: The username.
        emailId:
          type: string
          description: The user's email address.
        firstName:
          type: string
          description: The user's first name.
        lastName:
          type: string
          description: The user's last name.
        emailVerified:
          type: boolean
          description: Whether the email has been verified.
        2FaEnabled:
          type: boolean
          description: Whether two-factor authentication is enabled.
        profileImages:
          type: object
          description: URLs of the user's profile images.
          properties:
            sizeX20:
              type: string
            sizeX40:
              type: string
            sizeX50:
              type: string
            sizeX58:
              type: string
            sizeX80:
              type: string
            sizeX120:
              type: string
            sizeX160:
              type: string
            sizeX176:
              type: string
            sizeX240:
              type: string
            sizeX360:
              type: string
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
