openapi: 3.2.0
info:
  title: Autodesk Reality Capture Files API
  description: The Reality Capture API uses photogrammetry to generate high-resolution 3D meshes, point clouds, and orthophotos from photographs. It leverages cloud computing for structure-from-motion and multi-view-geometry algorithms, producing output compatible with ReCap, Civil 3D, InfraWorks, and other Autodesk products.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2TwoLegged:
  - data:read
  - data:write
  - data:create
tags:
- name: Files
paths:
  /photo-to-3d/v1/file:
    post:
      operationId: uploadFiles
      summary: Upload Files to Photoscene
      description: Uploads one or more photos to a photoscene. Photos can be uploaded as file data or as URLs. Supports JPEG and PNG formats.
      tags:
      - Files
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - photosceneid
              - type
              properties:
                photosceneid:
                  type: string
                  description: The photoscene to upload files to.
                type:
                  type: string
                  description: Upload type.
                  enum:
                  - image
                file[0]:
                  type: string
                  format: binary
                  description: First image file.
                file[1]:
                  type: string
                  format: binary
                  description: Additional image file.
      responses:
        '200':
          description: Files uploaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadResponse'
        '400':
          description: Bad request.
components:
  schemas:
    FileUploadResponse:
      type: object
      properties:
        photosceneid:
          type: string
        Files:
          type: object
          properties:
            file:
              type: array
              items:
                type: object
                properties:
                  filename:
                    type: string
                  fileid:
                    type: string
                  filesize:
                    type: integer
                  msg:
                    type: string
  securitySchemes:
    OAuth2TwoLegged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
            data:create: Create new data
