openapi: 3.2.0
info:
  title: Autodesk Tandem Data Schema API
  description: The Tandem Data API enables reading BIM model data and reading/writing custom schema properties for digital twin facility management. It facilitates integration with external systems like asset management platforms, work-order systems, and IoT sensors for creating and managing digital twins of physical facilities.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - data:read
tags:
- name: Schema
paths:
  /tandem/v1/twins/{twinId}/schema:
    get:
      operationId: getSchema
      summary: Autodesk Get Twin Schema
      description: Returns the schema definition for a digital twin, including built-in and custom property definitions.
      tags:
      - Schema
      parameters:
      - name: twinId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaResponse'
components:
  schemas:
    SchemaResponse:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              version:
                type: integer
              attrs:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    category:
                      type: string
                    dataType:
                      type: integer
                    flags:
                      type: integer
                    forgeUnit:
                      type: string
                    forgeSpec:
                      type: string
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
