openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users Manifest API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Manifest
paths:
  /modelderivative/v2/designdata/{urn}/manifest:
    get:
      operationId: getManifest
      summary: Autodesk Get Manifest
      description: Returns information about derivatives that correspond to a specific source design, including derivative URNs, translation status, and available outputs.
      tags:
      - Manifest
      parameters:
      - name: urn
        in: path
        required: true
        description: The Base64 (URL-safe) encoded URN of the source design.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved manifest.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
        '401':
          description: Unauthorized.
        '404':
          description: Manifest not found.
    delete:
      operationId: deleteManifest
      summary: Autodesk Delete Manifest
      description: Deletes the manifest and all derivatives of a source design. Does not delete the source design itself.
      tags:
      - Manifest
      parameters:
      - name: urn
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Manifest and derivatives deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
        '401':
          description: Unauthorized.
        '404':
          description: Manifest not found.
components:
  schemas:
    Derivative:
      type: object
      properties:
        name:
          type: string
        hasThumbnail:
          type: string
        status:
          type: string
          enum:
          - pending
          - inprogress
          - success
          - failed
          - timeout
        progress:
          type: string
        outputType:
          type: string
        children:
          type: array
          items:
            $ref: '#/components/schemas/DerivativeChild'
    Manifest:
      type: object
      properties:
        type:
          type: string
          example: manifest
        hasThumbnail:
          type: string
          enum:
          - 'true'
          - 'false'
        status:
          type: string
          description: Overall translation status.
          enum:
          - pending
          - inprogress
          - success
          - failed
          - timeout
        progress:
          type: string
          description: Translation progress percentage.
        region:
          type: string
        urn:
          type: string
        version:
          type: string
        derivatives:
          type: array
          items:
            $ref: '#/components/schemas/Derivative'
    DerivativeChild:
      type: object
      properties:
        guid:
          type: string
        type:
          type: string
          enum:
          - resource
          - geometry
          - view
        role:
          type: string
          enum:
          - 3d
          - 2d
          - graphics
          - thumbnail
          - Autodesk.CloudPlatform.PropertyDatabase
        name:
          type: string
        status:
          type: string
        progress:
          type: string
        mime:
          type: string
        urn:
          type: string
        children:
          type: array
          items:
            $ref: '#/components/schemas/DerivativeChild'
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
