openapi: 3.2.0
info:
  title: Autodesk Metadata API
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  version: '1.0'
  description: 'Operations tagged Metadata across 2 of this provider''s published API definitions: autodesk-model-derivative-openapi.yml, autodesk-parameters-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://developer.api.autodesk.com
  description: Production (US)
- url: https://developer.api.autodesk.com/regions/eu
  description: Production (EMEA)
tags:
- name: Metadata
paths:
  /modelderivative/v2/designdata/{urn}/metadata:
    get:
      operationId: getMetadata
      summary: Autodesk Get Metadata
      description: Returns a list of model views (viewables) available for the source design. Each viewable has a GUID that can be used to query its object tree and properties.
      tags:
      - Metadata
      parameters:
      - name: urn
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
        '401':
          description: Unauthorized.
        '404':
          description: Metadata not found.
      security:
      - OAuth2TwoLegged:
        - data:read
        - data:write
        - data:create
    servers:
    - url: https://developer.api.autodesk.com
      description: Production (US)
    - url: https://developer.api.autodesk.com/regions/eu
      description: Production (EMEA)
  /modelderivative/v2/designdata/{urn}/metadata/{guid}:
    get:
      operationId: getObjectTree
      summary: Autodesk Get Object Tree
      description: Returns the object hierarchy tree for a specific viewable within the source design.
      tags:
      - Metadata
      parameters:
      - name: urn
        in: path
        required: true
        schema:
          type: string
      - name: guid
        in: path
        required: true
        description: The GUID of the viewable.
        schema:
          type: string
      - name: forceget
        in: query
        required: false
        description: Set to true to force fetching the full tree instead of using pagination.
        schema:
          type: boolean
      responses:
        '200':
          description: Successfully retrieved object tree.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTreeResponse'
        '202':
          description: Object tree is being generated. Retry later.
      security:
      - OAuth2TwoLegged:
        - data:read
        - data:write
        - data:create
    servers:
    - url: https://developer.api.autodesk.com
      description: Production (US)
    - url: https://developer.api.autodesk.com/regions/eu
      description: Production (EMEA)
  /modelderivative/v2/designdata/{urn}/metadata/{guid}/properties:
    get:
      operationId: getProperties
      summary: Autodesk Get All Properties
      description: Returns the properties of all objects in a specific viewable. For large models, use the forceget parameter to ensure all data is returned.
      tags:
      - Metadata
      parameters:
      - name: urn
        in: path
        required: true
        schema:
          type: string
      - name: guid
        in: path
        required: true
        schema:
          type: string
      - name: forceget
        in: query
        required: false
        schema:
          type: boolean
      - name: objectid
        in: query
        required: false
        description: Filter properties by a specific object ID.
        schema:
          type: integer
      responses:
        '200':
          description: Successfully retrieved properties.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesResponse'
        '202':
          description: Properties are being generated. Retry later.
      security:
      - OAuth2TwoLegged:
        - data:read
        - data:write
        - data:create
    servers:
    - url: https://developer.api.autodesk.com
      description: Production (US)
    - url: https://developer.api.autodesk.com/regions/eu
      description: Production (EMEA)
  /modelderivative/v2/designdata/{urn}/metadata/{guid}/properties:query:
    post:
      operationId: queryProperties
      summary: Autodesk Query Properties
      description: Returns a filtered set of properties for a viewable based on specified criteria. Supports pagination for large result sets.
      tags:
      - Metadata
      parameters:
      - name: urn
        in: path
        required: true
        schema:
          type: string
      - name: guid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertiesQuery'
      responses:
        '200':
          description: Successfully queried properties.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesResponse'
      security:
      - OAuth2TwoLegged:
        - data:read
        - data:write
        - data:create
    servers:
    - url: https://developer.api.autodesk.com
      description: Production (US)
    - url: https://developer.api.autodesk.com/regions/eu
      description: Production (EMEA)
  /parameters/v1/metadata/specs:
    get:
      operationId: getSpecs
      summary: Autodesk List Specs
      description: Returns available spec types (data types) for parameter definitions (e.g., text, number, integer, length, area, volume, angle).
      tags:
      - Metadata
      responses:
        '200':
          description: Successfully retrieved specs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecsResponse'
      security:
      - OAuth2ThreeLegged:
        - data:read
    servers:
    - url: https://developer.api.autodesk.com
      description: Production
  /parameters/v1/metadata/categories:
    get:
      operationId: getCategories
      summary: Autodesk List Categories
      description: Returns available Revit categories for parameter binding.
      tags:
      - Metadata
      responses:
        '200':
          description: Successfully retrieved categories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
      security:
      - OAuth2ThreeLegged:
        - data:read
    servers:
    - url: https://developer.api.autodesk.com
      description: Production
  /parameters/v1/metadata/disciplines:
    get:
      operationId: getDisciplines
      summary: Autodesk List Disciplines
      description: Returns available disciplines for parameter classification.
      tags:
      - Metadata
      responses:
        '200':
          description: Successfully retrieved disciplines.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesResponse'
      security:
      - OAuth2ThreeLegged:
        - data:read
    servers:
    - url: https://developer.api.autodesk.com
      description: Production
  /parameters/v1/metadata/units:
    get:
      operationId: getUnits
      summary: Autodesk List Units
      description: Returns available unit types for parameter definitions.
      tags:
      - Metadata
      parameters:
      - name: filter[specId]
        in: query
        required: false
        description: Filter units by spec ID.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved units.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitsResponse'
      security:
      - OAuth2ThreeLegged:
        - data:read
    servers:
    - url: https://developer.api.autodesk.com
      description: Production
components:
  schemas:
    PropertiesResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              example: properties
            collection:
              type: array
              items:
                type: object
                properties:
                  objectid:
                    type: integer
                  name:
                    type: string
                  externalId:
                    type: string
                  properties:
                    type: object
                    additionalProperties: true
    PropertiesQuery:
      type: object
      properties:
        query:
          type: object
          properties:
            $prefix:
              type: array
              items:
                type: string
            $contains:
              type: array
              items:
                type: string
            $between:
              type: array
              items: {}
            $eq:
              type: array
              items: {}
            $le:
              type: array
              items: {}
            $ge:
              type: array
              items: {}
            $gt:
              type: array
              items: {}
            $lt:
              type: array
              items: {}
            $ne:
              type: array
              items: {}
            $in:
              type: array
              items: {}
            $nin:
              type: array
              items: {}
        fields:
          type: array
          description: List of property names to return.
          items:
            type: string
        pagination:
          type: object
          properties:
            offset:
              type: integer
            limit:
              type: integer
    MetadataResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              example: metadata
            metadata:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  guid:
                    type: string
                  role:
                    type: string
                    enum:
                    - 3d
                    - 2d
                  isMasterView:
                    type: boolean
    ObjectTreeResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              example: objects
            objects:
              type: array
              items:
                $ref: '#/components/schemas/ObjectNode'
    ObjectNode:
      type: object
      properties:
        objectid:
          type: integer
        name:
          type: string
        objects:
          type: array
          items:
            $ref: '#/components/schemas/ObjectNode'
    DisciplinesResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
    CategoriesResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
    SpecsResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              isBuiltIn:
                type: boolean
    UnitsResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              specId:
                type: string
              symbol:
                type: string
  securitySchemes:
    OAuth2TwoLegged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
            data:create: Create new data
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
            data:create: Create new data
x-refined-from:
- autodesk-model-derivative-openapi.yml
- autodesk-parameters-openapi.yml
