openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users Collections API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Collections
paths:
  /parameters/v1/accounts/{accountId}/collections:
    get:
      operationId: getCollections
      summary: Autodesk List Collections
      description: Returns a list of parameter collections for the specified account. Collections group related parameters for organizational purposes.
      tags:
      - Collections
      parameters:
      - name: accountId
        in: path
        required: true
        description: The Autodesk account ID (hub ID without the b. prefix).
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Successfully retrieved collections.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionsResponse'
        '401':
          description: Unauthorized.
    post:
      operationId: createCollection
      summary: Autodesk Create Collection
      description: Creates a new parameter collection.
      tags:
      - Collections
      security:
      - OAuth2ThreeLegged:
        - data:write
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCollectionRequest'
      responses:
        '201':
          description: Collection created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          description: Bad request.
  /parameters/v1/accounts/{accountId}/collections/{collectionId}:
    get:
      operationId: getCollection
      summary: Autodesk Get Collection
      description: Returns details of a specific parameter collection.
      tags:
      - Collections
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: collectionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '404':
          description: Collection not found.
    patch:
      operationId: updateCollection
      summary: Autodesk Update Collection
      description: Updates a parameter collection.
      tags:
      - Collections
      security:
      - OAuth2ThreeLegged:
        - data:write
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: collectionId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCollectionRequest'
      responses:
        '200':
          description: Collection updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
    delete:
      operationId: deleteCollection
      summary: Autodesk Delete Collection
      description: Deletes a parameter collection.
      tags:
      - Collections
      security:
      - OAuth2ThreeLegged:
        - data:write
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: collectionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Collection deleted.
components:
  schemas:
    CollectionsResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Collection'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Collection:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedBy:
          type: string
    CreateCollectionRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description:
          type: string
    Pagination:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        totalResults:
          type: integer
    UpdateCollectionRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
