openapi: 3.2.0
info:
  title: Autodesk Flow Graph Engine Graphs API
  description: The Flow Graph Engine API enables evaluation of Bifrost graphs in the cloud for media and entertainment workflows. It allows developers to offload heavy processing tasks like creating complex effects, simulations, and procedural content to concurrent cloud operations using Bifrost graph evaluation engine.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2TwoLegged:
  - code:all
tags:
- name: Graphs
paths:
  /fge/v1/graphs:
    get:
      operationId: getGraphs
      summary: Autodesk List Graphs
      description: Returns a list of uploaded Bifrost graphs available for evaluation.
      tags:
      - Graphs
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Successfully retrieved graphs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphsResponse'
    post:
      operationId: uploadGraph
      summary: Autodesk Upload Graph
      description: Uploads a Bifrost graph file (.bif) for cloud evaluation.
      tags:
      - Graphs
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The Bifrost graph file (.bif).
                name:
                  type: string
                  description: Display name for the graph.
                description:
                  type: string
      responses:
        '201':
          description: Graph uploaded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Graph'
        '400':
          description: Bad request - invalid graph file.
  /fge/v1/graphs/{graphId}:
    get:
      operationId: getGraph
      summary: Autodesk Get Graph
      description: Returns details of a specific graph.
      tags:
      - Graphs
      parameters:
      - name: graphId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved graph.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Graph'
        '404':
          description: Graph not found.
    delete:
      operationId: deleteGraph
      summary: Autodesk Delete Graph
      description: Deletes an uploaded graph.
      tags:
      - Graphs
      parameters:
      - name: graphId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Graph deleted.
components:
  schemas:
    Graph:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        fileSize:
          type: integer
        inputs:
          type: array
          description: Input ports defined in the graph.
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              defaultValue: {}
        outputs:
          type: array
          description: Output ports defined in the graph.
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
    GraphsResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Graph'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        totalResults:
          type: integer
  securitySchemes:
    OAuth2TwoLegged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            code:all: Execute graph evaluations
