openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users Thumbnails API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Thumbnails
paths:
  /modelderivative/v2/designdata/{urn}/thumbnail:
    get:
      operationId: getThumbnail
      summary: Autodesk Get Thumbnail
      description: Returns a thumbnail image of the source design.
      tags:
      - Thumbnails
      parameters:
      - name: urn
        in: path
        required: true
        schema:
          type: string
      - name: width
        in: query
        required: false
        description: Width of the thumbnail in pixels (100, 200, or 400).
        schema:
          type: integer
          enum:
          - 100
          - 200
          - 400
      - name: height
        in: query
        required: false
        description: Height of the thumbnail in pixels (100, 200, or 400).
        schema:
          type: integer
          enum:
          - 100
          - 200
          - 400
      responses:
        '200':
          description: Successfully retrieved thumbnail.
          content:
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: Thumbnail not found.
components:
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
