openapi: 3.2.0
info:
  title: Autodesk Tandem Data Twins API
  description: The Tandem Data API enables reading BIM model data and reading/writing custom schema properties for digital twin facility management. It facilitates integration with external systems like asset management platforms, work-order systems, and IoT sensors for creating and managing digital twins of physical facilities.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - data:read
tags:
- name: Twins
paths:
  /tandem/v1/twins:
    get:
      operationId: getTwins
      summary: Autodesk List Twins
      description: Returns a list of digital twin facilities that the authenticated user has access to.
      tags:
      - Twins
      responses:
        '200':
          description: Successfully retrieved twins.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwinsResponse'
  /tandem/v1/twins/{twinId}:
    get:
      operationId: getTwin
      summary: Autodesk Get Twin
      description: Returns details of a specific digital twin facility.
      tags:
      - Twins
      parameters:
      - name: twinId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved twin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Twin'
        '404':
          description: Twin not found.
components:
  schemas:
    TwinsResponse:
      type: object
      properties:
        twins:
          type: array
          items:
            $ref: '#/components/schemas/Twin'
    Twin:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        settings:
          type: object
          properties:
            dateCreated:
              type: string
              format: date-time
            dateModified:
              type: string
              format: date-time
            props:
              type: object
              additionalProperties: true
        docs:
          type: array
          description: Associated document/model references.
          items:
            type: object
            properties:
              modelId:
                type: string
              urn:
                type: string
              label:
                type: string
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
