openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users Companies API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Companies
paths:
  /construction/admin/v1/accounts/{accountId}/companies:
    get:
      operationId: getCompanies
      summary: Autodesk List Companies
      description: Returns partner companies in the account directory.
      tags:
      - Companies
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: filter[name]
        in: query
        required: false
        schema:
          type: string
      - name: filter[trade]
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Successfully retrieved companies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesResponse'
    post:
      operationId: createCompany
      summary: Autodesk Create Company
      description: Creates a new partner company in the account directory.
      tags:
      - Companies
      security:
      - OAuth2ThreeLegged:
        - account:write
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyRequest'
      responses:
        '201':
          description: Company created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
components:
  schemas:
    Pagination:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        totalResults:
          type: integer
    Company:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        trade:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        stateOrProvince:
          type: string
        postalCode:
          type: string
        country:
          type: string
        phone:
          type: string
        websiteUrl:
          type: string
          format: uri
        description:
          type: string
        erp_id:
          type: string
        tax_id:
          type: string
    CompaniesResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        pagination:
          $ref: '#/components/schemas/Pagination'
    CreateCompanyRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        trade:
          type: string
        addressLine1:
          type: string
        city:
          type: string
        stateOrProvince:
          type: string
        postalCode:
          type: string
        country:
          type: string
        phone:
          type: string
        websiteUrl:
          type: string
          format: uri
        description:
          type: string
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
