openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users Folders API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: Folders
paths:
  /data/v1/projects/{project_id}/folders/{folder_id}:
    get:
      operationId: getFolder
      summary: Autodesk Get Folder
      description: Returns a specific folder.
      tags:
      - Folders
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: folder_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved folder.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FolderResponse'
        '401':
          description: Unauthorized.
        '404':
          description: Folder not found.
  /data/v1/projects/{project_id}/folders/{folder_id}/contents:
    get:
      operationId: getFolderContents
      summary: Autodesk List Folder Contents
      description: Returns a collection of items and folders within a folder.
      tags:
      - Folders
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: folder_id
        in: path
        required: true
        schema:
          type: string
      - name: filter[type]
        in: query
        required: false
        description: Filter by resource type (items, folders).
        schema:
          type: string
          enum:
          - items
          - folders
      - name: filter[id]
        in: query
        required: false
        schema:
          type: string
      - name: filter[extension.type]
        in: query
        required: false
        schema:
          type: string
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
      - name: page[limit]
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Successfully retrieved folder contents.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FolderContentsResponse'
        '401':
          description: Unauthorized.
        '404':
          description: Folder not found.
  /data/v1/projects/{project_id}/folders/{folder_id}/search:
    get:
      operationId: searchFolder
      summary: Autodesk Search Folder
      description: Searches for items within a folder hierarchy.
      tags:
      - Folders
      security:
      - OAuth2ThreeLegged:
        - data:search
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: folder_id
        in: path
        required: true
        schema:
          type: string
      - name: filter[displayName]
        in: query
        required: false
        description: Filter by display name.
        schema:
          type: string
      - name: filter[fileType]
        in: query
        required: false
        description: Filter by file type extension.
        schema:
          type: string
      responses:
        '200':
          description: Successfully searched folder.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FolderContentsResponse'
  /data/v1/projects/{project_id}/folders:
    post:
      operationId: createFolder
      summary: Autodesk Create Folder
      description: Creates a new folder in the specified project.
      tags:
      - Folders
      security:
      - OAuth2ThreeLegged:
        - data:create
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateFolderRequest'
      responses:
        '201':
          description: Folder created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FolderResponse'
        '400':
          description: Bad request.
        '403':
          description: Forbidden.
components:
  schemas:
    Folder:
      type: object
      properties:
        type:
          type: string
          example: folders
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
            displayName:
              type: string
            createTime:
              type: string
              format: date-time
            createUserId:
              type: string
            createUserName:
              type: string
            lastModifiedTime:
              type: string
              format: date-time
            lastModifiedUserId:
              type: string
            lastModifiedUserName:
              type: string
            objectCount:
              type: integer
            extension:
              $ref: '#/components/schemas/Extension'
            hidden:
              type: boolean
    FolderResponse:
      type: object
      properties:
        jsonapi:
          $ref: '#/components/schemas/JsonApiVersion'
        data:
          $ref: '#/components/schemas/Folder'
    JsonApiVersion:
      type: object
      properties:
        version:
          type: string
          example: '1.0'
    PaginationLinks:
      type: object
      properties:
        self:
          type: object
          properties:
            href:
              type: string
              format: uri
        first:
          type: object
          properties:
            href:
              type: string
              format: uri
        prev:
          type: object
          properties:
            href:
              type: string
              format: uri
        next:
          type: object
          properties:
            href:
              type: string
              format: uri
    Extension:
      type: object
      properties:
        type:
          type: string
        version:
          type: string
        data:
          type: object
    CreateFolderRequest:
      type: object
      properties:
        jsonapi:
          $ref: '#/components/schemas/JsonApiVersion'
        data:
          type: object
          properties:
            type:
              type: string
              example: folders
            attributes:
              type: object
              properties:
                name:
                  type: string
                extension:
                  $ref: '#/components/schemas/Extension'
            relationships:
              type: object
              properties:
                parent:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          example: folders
                        id:
                          type: string
    FolderContentsResponse:
      type: object
      properties:
        jsonapi:
          $ref: '#/components/schemas/JsonApiVersion'
        data:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Folder'
            - $ref: '#/components/schemas/Item'
        links:
          $ref: '#/components/schemas/PaginationLinks'
    Item:
      type: object
      properties:
        type:
          type: string
          example: items
        id:
          type: string
        attributes:
          type: object
          properties:
            displayName:
              type: string
            createTime:
              type: string
              format: date-time
            createUserId:
              type: string
            createUserName:
              type: string
            lastModifiedTime:
              type: string
              format: date-time
            lastModifiedUserId:
              type: string
            lastModifiedUserName:
              type: string
            hidden:
              type: boolean
            reserved:
              type: boolean
            extension:
              $ref: '#/components/schemas/Extension'
        relationships:
          type: object
          properties:
            tip:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    id:
                      type: string
            versions:
              type: object
              properties:
                links:
                  type: object
                  properties:
                    related:
                      type: object
                      properties:
                        href:
                          type: string
                          format: uri
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
