openapi: 3.1.0
info:
  title: Autodesk ACC Account Admin Account Users RFIs API
  description: The ACC Account Admin API automates the creation and management of projects, assignment and management of project users, and management of member and partner company directories within Autodesk Construction Cloud. It supports bulk operations for enterprise-scale administration.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - account:read
tags:
- name: RFIs
paths:
  /bim360/rfis/v2/containers/{containerId}/rfis:
    get:
      operationId: getRfis
      summary: Autodesk List RFIs
      description: Returns a list of RFIs in the container.
      tags:
      - RFIs
      parameters:
      - name: containerId
        in: path
        required: true
        schema:
          type: string
      - name: filter[status]
        in: query
        required: false
        schema:
          type: string
      - name: page[limit]
        in: query
        required: false
        schema:
          type: integer
      - name: page[offset]
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Successfully retrieved RFIs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RfisResponse'
components:
  schemas:
    Pagination:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        totalResults:
          type: integer
    RfisResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              title:
                type: string
              status:
                type: string
              assignedTo:
                type: string
              dueDate:
                type: string
                format: date
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
        pagination:
          $ref: '#/components/schemas/Pagination'
  securitySchemes:
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            account:read: Read account data
            account:write: Write account data
