openapi: 3.2.0
info:
  title: Autodesk Webhooks Systems API
  description: The Webhooks API enables applications to listen for events from Autodesk services by creating webhook subscriptions. When events occur (such as file modifications, model derivative completions, or folder changes), Autodesk sends HTTP POST callbacks to a registered URL. This API manages webhook CRUD operations for the Data Management and Model Derivative event systems.
  version: 1.0.0
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com
    email: aps.help@autodesk.com
  license:
    name: Autodesk API Terms of Service
    url: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-terms-of-service
servers:
- url: https://developer.api.autodesk.com
  description: Production
security:
- OAuth2ThreeLegged:
  - data:read
  - data:write
tags:
- name: Systems
paths:
  /webhooks/v1/systems:
    get:
      operationId: getSystems
      summary: Autodesk List Event Systems
      description: Returns a list of available event systems that support webhook subscriptions (e.g., data, derivative, adsk.c4r, adsk.docs).
      tags:
      - Systems
      responses:
        '200':
          description: Successfully retrieved systems.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemsResponse'
  /webhooks/v1/systems/{system}/events:
    get:
      operationId: getSystemEvents
      summary: Autodesk List System Events
      description: Returns a list of events available for a specific system.
      tags:
      - Systems
      parameters:
      - name: system
        in: path
        required: true
        description: The system identifier (e.g., data, derivative, adsk.c4r).
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
components:
  schemas:
    SystemsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              system:
                type: string
                description: System identifier (data, derivative, adsk.c4r, adsk.docs).
    EventsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              event:
                type: string
                description: Event type identifier.
  securitySchemes:
    OAuth2TwoLegged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
    OAuth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read access to data
            data:write: Write access to data
